DATABASE_URL="postgresql://postgres.XXXXXXXXXXXXXXXXXX.supabase.com:6543/postgres?pgbouncer=true&sslmode=no-verify"

DIRECT_URL="postgresql://postgres.XXXXXXXXXXXXXXXXXX.supabase.com:5432/postgres?sslmode=require"

JWT_SECRET="XXXXXXXXXXXXXXXXXX"

SUPABASE_URL=https://XXXXXXXXX.supabase.co
SUPABASE_SECRET_KEY=sb_XXXXXXXXXXXXXXXXXXXXXXXXXXX

CLOUDINARY_CLOUD_NAME="XXXXXXXXX"
CLOUDINARY_API_KEY="XXXXXXXXX"
CLOUDINARY_API_SECRET="XXXXXXXXXXXXXXXXX"

GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...
OAUTH_REDIRECT_BASE=https://localhost:3000

HTTPS_PORT=3000